@import url(root.css);

main{
  display: flex;
  width: 100%;
  align-items: center;
}

.login{
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container
{
  height: 100%;
  width: 50%;
  background-image: url('../IMG/logo.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

